* {
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-rows: 100px 500px;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    border: 5px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

#instruction {
    font-size: 28px;
}

#restart {
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: row;
}

.playerWindow {
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 20px;
}

#window1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#window2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.info  {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 32px;
}

.map {
    border: 10px solid blue;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
}

.map div {
    display: flex;
    align-items: center;
    justify-content: center;
}